@model HabitAqui.Models.MyEmployees;
@{
    ViewData["Title"] = "List Employees";
}

<div class="container">

    <h1>Lista de Utilizadores</h1>
    
    <h2>Gestores  <a asp-action="Create" asp-controller="Gestores" class="btn btn-primary rounded-pill">Adicionar um novo Gestor</a></h2>
    @if (Model.Gestores.Any())
    {
        <div class="row">
            @foreach (var gestor in Model.Gestores)
            {
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@gestor.Nome</h5>
                            <p class="card-text">Gestor ID: @gestor.GestorId</p>
                            @if (gestor.ApplicationUser != null)
                            {
                                <p class="card-text">User Information:</p>
                                <ul class="list-group">
                                    <li class="list-group-item">Username: @gestor.ApplicationUser.UserName</li>
                                    <li class="list-group-item">Email: @gestor.ApplicationUser.Email</li>
                                    <!-- Add other relevant ApplicationUser information -->
                                </ul>
                            }
                            <!-- Add other relevant information from Gestor -->
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
    }
    
    <h2>Funcionarios <a asp-action="Create" asp-controller="Funcionarios" class="btn btn-primary rounded-pill">Adicionar um novo Funcinário</a></h2>
   
    @if (Model.Funcionarios.Any())
    {
        <div class="row">
            @foreach (var funcionario in Model.Funcionarios)
            {
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@funcionario.Nome</h5>
                            <p class="card-text">Funcionario ID: @funcionario.FuncionarioId</p>
                            @if (funcionario.ApplicationUser != null)
                            {
                                <p class="card-text">User Information:</p>
                                <ul class="list-group">
                                    <li class="list-group-item">Username: @funcionario.ApplicationUser.UserName</li>
                                    <li class="list-group-item">Email: @funcionario.ApplicationUser.Email</li>
                                    <!-- Add other relevant ApplicationUser information -->
                                </ul>
                            }
                            <!-- Add other relevant information from Funcionario -->
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
    }
   
    <h2>Clientes <a asp-action="Create" asp-controller="Clientes" class="btn btn-primary rounded-pill">Adicionar um novo Cliente</a></h2>
   
    @if (Model.Clientes.Any())
    {
        <div class="row">
            @foreach (var cliente in Model.Clientes)
            {
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@cliente.Nome</h5>
                            <p class="card-text">Funcionario ID: @cliente.ClienteId</p>
                            @if (cliente.ApplicationUser != null)
                            {
                                <p class="card-text">User Information:</p>
                                <ul class="list-group">
                                    <li class="list-group-item">Username: @cliente.ApplicationUser.UserName</li>
                                    <li class="list-group-item">Email: @cliente.ApplicationUser.Email</li>
                                    <!-- Add other relevant ApplicationUser information -->
                                </ul>
                            }
                            <!-- Add other relevant information from Funcionario -->
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
