@model HabitAqui.Models.Habitacao

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid p-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detalhes da Habitação</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">Periodo Minimo de Arrendamento</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.PeriodoMinimoArrendamento)</dd>

                <dt class="col-sm-2">Periodo Máximo de Arrendamento</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.PeriodoMaximoArrendamento)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Custo)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Custo)</dd>

                <dt class="col-sm-2">Média de Avaliação</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.MediaAvaliacao)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Categoria)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Categoria.Nome)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Locador)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Locador.Nome)</dd>
            </dl>
        </div>
    </div>
</div>

<div class="mt-3">
    @if (User.IsInRole("Cliente"))
    {
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar à Lista</a>
    }
    else
    {
        <a class="btn btn-secondary" asp-controller="Habitacoes" asp-action="Listar">Voltar à Lista</a>
    }
</div>
