@model HabitAqui.Models.Habitacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container-fluid p-3">
    <h4>Habitacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoMinimoArrendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoMinimoArrendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoMaximoArrendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoMaximoArrendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaAvaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaAvaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locador.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Habitacoes" asp-action="Listar">Back to List</a>
</div>
