@model HabitAqui.Models.Habitacao

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Detalhes da Habitação</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt>Período Mínimo de Arrendamento</dt>
                <dd>@Html.DisplayFor(model => model.PeriodoMinimoArrendamento)</dd>

                <dt>Período Máximo de Arrendamento</dt>
                <dd>@Html.DisplayFor(model => model.PeriodoMaximoArrendamento)</dd>

                <dt>Custo</dt>
                <dd>@Html.DisplayFor(model => model.Custo)</dd>

                <dt>Média de Avaliação</dt>
                @if (Model.MediaAvaliacao == null)
                {
                    <dd>Ainda sem avaliações</dd>
                }
                else
                {
                    <dd>
                        @Html.DisplayFor(model => model.MediaAvaliacao)
                    </dd>
                }

                <dt>Categoria</dt>
                <dd>@Html.DisplayFor(model => model.Categoria.Nome)</dd>

                <dt>Locador</dt>
                <dd>@Html.DisplayFor(model => model.Locador.Nome)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        @if (User.IsInRole("Cliente"))
        {
            <a class="btn btn-secondary" asp-controller="Home" asp-action="ListaHabitacoes">Voltar à Lista</a>
        }
        else
        {
            <a class="btn btn-secondary" asp-controller="Habitacoes" asp-action="Listar">Voltar à Lista</a>
        }
    </div>
</div>


