@model IEnumerable<HabitAqui.Models.Habitacao>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid p-3" style="background-color:#D8D8D8">
    <form asp-area="" asp-controller="Habitacoes" asp-action="Filter" method="post">
        <div class="row g-3 mt-2">
            <div class="col-2">
                <select name="categoria" class="form-select">
                    <option value="">Selecione uma Categoria</option>
                    @foreach (var categoria in ViewBag.Categorias)
                    {
                        <option value="@categoria.Nome">@categoria.Nome</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select name="estado" class="form-select">
                    <option value="">Selecione um estado</option>
                    <option value="ativo">Ativo</option>
                    <option value="nao_ativo">Não Ativo</option>
                </select>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-dark btn-block">
                    Procurar
                </button>
            </div>
        </div>
        <div class="row g-3 mt-2">
            <div class="col-2">
                <select name="minPrice" class="form-select">
                    <option selected value="">Preço Min.</option>
                    <option value="200">200€</option>
                    <option value="400">400€</option>
                    <option value="600">600€</option>
                    <option value="800">800€</option>
                    <option value="10000">10000€</option>
                    <option value="12000">12000€</option>
                    <option value="14000">14000€</option>
                    <option value="16000">16000€</option>
                    <option value="20000">20000€</option>
                    <option value="30000">30000€</option>
                    <option value="40000">40000€</option>
                    <option value="50000">50000€</option>
                </select>
            </div>
            <div class="col-2">
                <select name="maxPrice" class="form-select">
                    <option selected value="">Preço Max.</option>
                    <option value="200">200€</option>
                    <option value="400">400€</option>
                    <option value="600">600€</option>
                    <option value="800">800€</option>
                    <option value="10000">10000€</option>
                    <option value="12000">12000€</option>
                    <option value="14000">14000€</option>
                    <option value="16000">16000€</option>
                    <option value="20000">20000€</option>
                    <option value="30000">30000€</option>
                    <option value="40000">40000€</option>
                    <option value="50000">50000€</option>
                </select>
            </div>
            <div class="col-2">
                <select name="order" class="form-select">
                    <option selected value="">Ordenar Por</option>
                    <option value="PrecoCrescente">Preço (asc)</option>
                    <option value="PrecoDecrescente">Preço (desc)</option>
                    <option value="AvaliacaoCrescente">Avaliação (asc)</option>
                    <option value="AvaliacaoDecrescente">Avaliação (desc)</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="row m-auto mt-2">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card border-dark mb-3 text-center" style="width:18rem;">
                <div class="card-header border-dark">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </h5>
                </div>
                <div class="card-body text-dark">
                    <h4 class="card-text-center">@Html.DisplayFor(modelItem => item.Custo) €</h4>
                    <p class="card-text-center">@Html.DisplayFor(modelItem => item.Localizacao)</p>
                </div>
                <div class="card-footer border-dark">
                    <p class="card-text-center">
                        <i class="fa-solid fa-circle-user"></i> @Html.DisplayFor(modelItem => item.Locador.Nome)
                        @Html.DisplayFor(modelItem => item.Locador.MediaAvaliacao)<i class="fa-solid fa-star"></i>
                    </p>
                    @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
                    {
                        <p class="card-text-center">
                            <a asp-action="Edit" asp-controller="Habitacoes" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a>
                            <a asp-action="Delete" asp-controller="Habitacoes" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a>
                            <a asp-action="Create" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-warning">Arrendar</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>
