@model IEnumerable<HabitAqui.Models.Habitacao>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<h1>Habitações</h1>
<div class="container p-3">
    <div class="card" style="background-color: #f5f5f5;">
        <div class="card-body">
            <h3>Pesquisar Habitação</h3>
            <form asp-area="" asp-controller="Habitacoes" asp-action="Index" method="post">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <select name="category" class="form-control">
                            <option value="" disabled selected>Tipo de Imóvel</option>
                            <option value="Apartamentos">Apartamentos</option>
                            <option value="Moradias">Moradias</option>
                            <option value="Quartos">Quartos</option>
                            <option value="Terrenos">Terrenos</option>
                            <option value="Outra">Outra</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" name="location" class="form-control" placeholder="Procurar por Localização">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="start_date">Data início</label>
                        <input class="form-control" type="date" name="start_date">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="end_date">Data fim</label>
                        <input class="form-control" type="date" name="end_date">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="periodo">Período mínimo</label>
                        <input class="form-control" type="number" placeholder="Período mínimo" name="periodo">
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Procurar</button>
            </form>

        </div>
    </div>
    <div class="row p-3">
        <div class="col">

            <button class="btn btn-primary" data-toggle="collapse" data-target="#formDropdown1">Filtrar Por</button>
            <div class="collapse" id="formDropdown1">
                <form asp-area="" asp-controller="Habitacoes" asp-action="Filter" method="post">
                    <label for="categoria">Categoria:</label>
                    @foreach (var categoriaName in ViewData["CategoriaNames"] as List<string>)
                    {
                        <div class="form-check">
                            <input type="checkbox" name="SelectedCategories" value="@categoriaName" class="form-check-input" id="categoria-@categoriaName">
                            <label class="form-check-label" for="categoria-@categoriaName">@categoriaName</label>
                        </div>
                    }
                    <button class="btn btn-info">Filtrar</button>
                </form>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-warning" data-toggle="collapse" data-target="#formDropdown2">Ordenar Por</button>
            <div class="collapse" id="formDropdown2">
                <form asp-area="" asp-controller="Habitacoes" asp-action="OrderSearch" method="post">
                    <label for="preco">
                        Preço:
                        <select name="preco" class="form-control">
                            <option value="">Ordenar Preço</option>
                            <option value="crescente">Crescente</option>
                            <option value="decrescente">Decrescente</option>
                        </select>
                    </label>
                    <label for="avaliacao">
                        Avaliação:
                        <select name="avaliacao" class="form-control">
                            <option value="">Ordenar Avaliação Locador</option>
                            <option value="crescente">Crescente</option>
                            <option value="decrescente">Decrescente</option>
                        </select>
                    </label>
                    <button class="btn btn-info">Ordenar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Custo do Arrendamento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Nome do Locador
            </th>
            <th>
                Avaliação do Locador
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (Model.Any())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Custo) €
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locador.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locador.MediaAvaliacao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="4">Nenhum resultado encontrado.</td>
                </tr>
            }
        }
    </tbody>
</table>
