@model IEnumerable<HabitAqui.Models.Habitacao>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<h1>Habitações Disponiveis</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a asp-action="FilterSearch" asp-controller="Habitacoes" class="btn btn-primary">Filtrar Pesquisa</a>
        </div>
        <div class="col">
            <button class="btn btn-warning" data-toggle="collapse" data-target="#formDropdown2">Ordenar Por</button>
            <br />
            <br />
            <div class="collapse" id="formDropdown2">
                <form asp-area="" asp-controller="Habitacoes" asp-action="OrderSearch" method="post">
                    <label for="preco">
                        Preço:
                        <select name="preco" class="form-control">
                            <option value="crescente">Crescente</option>
                            <option value="decrescente">Decrescente</option>
                        </select>
                    </label>
                    <label for="avaliacao">
                        Avaliação:
                        <select name="avaliacao" class="form-control">
                            <option value="crescente" selected>Crescente</option>
                            <option value="decrescente">Decrescente</option>
                        </select>
                    </label>
                    <button class="btn btn-secondary">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Custo do Arrendamento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Nome do Locador
            </th>
            <th>
                Avaliação do Locador
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (Model.Any())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Custo) €
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locador.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locador.MediaAvaliacao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="4">Nenhum resultado encontrado.</td>
                </tr>
            }
        }
    </tbody>
</table>
