@model HabitAqui.Models.AvaliacaoLocador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvaliacaoLocador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locador.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
