@model HabitAqui.Models.Arrendamento

@{
    ViewData["Title"] = "Details";
}

<h1>Confirmar Arrendamento</h1>

<div>
    <h4>Arrendamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacao.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locador.LocadorId)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Confirm">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirm" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
