@model HabitAqui.Models.Arrendamento

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5 ">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Apagar Arrendamento</h3>
        </div>
        <div class="card-body">
            <h4>Tem a certeza de que quer apagar este Arrendamento?</h4>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataInicio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataInicio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataFim)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataFim)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Custo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Custo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cliente.ClienteId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Habitacao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Habitacao.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Locador)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Locador.LocadorId)
                </dd>
            </dl>
            <form asp-action="Delete" method="post" class="mt-3">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Delete</button> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>