@model HabitAqui.Models.Arrendamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Arrendamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custo)
        </dd>
        @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cliente.Nome)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacao.Categoria.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacao.MediaAvaliacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habitacao.MediaAvaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioEntrega.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locador.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipamentosOpcionais)
        </dt>
        <dd class="col-sm-10">
            @if (Model.EquipamentosOpcionais != null){
                <ul>
                    @foreach (var equipamento in Model.EquipamentosOpcionais)
                    {
                        <li>@equipamento.Nome</li>
                    }
                </ul>
            }
        </dd>
    </dl>
</div>
<div>
    @if(User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a asp-action="ListArrendamentos">Back to List</a>
    }else if (User.IsInRole("Cliente"))
    {
        <a asp-action="ListClienteArrendamentos">Back to List</a>
    }   
</div>
