@model HabitAqui.Models.Arrendamento

@{
    ViewData["Title"] = "Details";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Detalhes do Arrendamento</h4>
                    <hr />
                    <dl class="row">
                        <dt>Data de Início</dt>
                        <dd>@Html.DisplayFor(model => model.DataInicio)</dd>

                        <dt>Data de Fim</dt>
                        <dd>@Html.DisplayFor(model => model.DataFim)</dd>

                        <dt>Custo</dt>
                        <dd>@Html.DisplayFor(model => model.Custo)</dd>

                        @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
                        {
                            <dt>Cliente</dt>
                            <dd>@Html.DisplayFor(model => model.Cliente.Nome)</dd>
                        }

                        <dt>Habitação</dt>
                        <dd>@Html.DisplayFor(model => model.Habitacao.Categoria.Nome)</dd>

                        <dt>Avaliação Média</dt>
                        <dd>@Html.DisplayFor(model => model.Habitacao.MediaAvaliacao)</dd>
                    </dl>
                </div>
            </div>
        </div>
        @if (Model.Estado == Estados.ENTREGUE)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Estado de Entrega</h4>
                        <hr />

                        <dl>
                            <dt>Data de Entrega</dt>
                            <dd>@Html.DisplayFor(model => model.EntregarArrendamento.DataEntrega)</dd>

                            <dt>Funcionário de Entrega</dt>
                            <dd>@Html.DisplayFor(model => model.EntregarArrendamento.FuncionarioEntrega.Nome)</dd>

                            <dt>Danos</dt>
                            @if (Model.EntregarArrendamento.Danos != null)
                            {
                                <dd>@Html.DisplayFor(model => model.EntregarArrendamento.Danos)</dd>
                            }
                            else
                            {
                                <dd>Nenhum dano registado</dd>
                            }

                            <dt>Equipamentos</dt>
                            <dd>
                                @if (Model.EntregarArrendamento.Equipamentos != null && Model.EntregarArrendamento.Equipamentos.Any())
                                {
                                    foreach (var equip in Model.EntregarArrendamento.Equipamentos)
                                    {
                                        @equip.Nome

                                        <br />
                                    }
                                }
                                else
                                {
                                    <dd>Nenhum equipamento selecionado</dd>
                                }
                            </dd>

                            <dt>Observações</dt>
                            @if(Model.EntregarArrendamento.Observacoes != null)
                            {
                                <dd>@Html.DisplayFor(model => model.EntregarArrendamento.Observacoes)</dd>
                            }
                            else
                            {
                                <dd>Sem observações</dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        }
        @if (Model.Estado == Estados.RECEBIDO)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Estado Final</h4>
                        <hr />

                        <dl>
                            <dt>Funcionário de Entrega</dt>
                            <dd>@Html.DisplayFor(model => model.ReceberArrendamento.FuncionarioRecebeu.Nome)</dd>

                            <dt>Danos</dt>
                            @if (Model.ReceberArrendamento.Danos != null)
                            {
                                <dd>@Html.DisplayFor(model => model.ReceberArrendamento.Danos)</dd>
                            }
                            else
                            {
                                <dd>Nenhum dano registado</dd>
                            }

                            <dt>Equipamentos</dt>
                            <dd>
                                @if (Model.EntregarArrendamento.Equipamentos != null && Model.EntregarArrendamento.Equipamentos.Any())
                                {
                                    foreach (var equip in Model.EntregarArrendamento.Equipamentos)
                                    {
                                        <dd>@equip.Nome : @equip.EquipamentoEstado.ToString()</dd>
                                    }
                                }
                                else
                                {
                                    <dd>Nenhum equipamento selecionado</dd>
                                 }
                            </dd>

                            <dt>Observações</dt>
                            @if (Model.ReceberArrendamento.Observacoes != null)
                            {
                                <dd>@Html.DisplayFor(model => model.ReceberArrendamento.Observacoes)</dd>
                            }
                            else
                            {
                                <dd>Sem observações</dd>
                            }

                            @if(Model.Imagens != null){
                                <div id="imagensDanos" style="display:none;">
                                    @foreach (var imagem in Model.Imagens)
                                    {
                                        <img src="~/@Url.Content(imagem.Path)">
                                    }
                                </div>

                                <button id="btnMostrarImagens" onclick="mostrarImagens()">Mostrar Imagens</button>
                            }
                            


                        </dl>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="mt-3">
        @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
        {
            <a class="btn btn-secondary" asp-action="ListArrendamentos">Voltar à Lista</a>
        }
        else if (User.IsInRole("Cliente"))
        {
            <a class="btn btn-secondary" asp-action="ListClienteArrendamentos">Voltar à Lista</a>
        }
    </div>
</div>


<script>
    function mostrarImagens() {
        document.getElementById('imagensDanos').style.display = 'block';
    }
</script>