@model IEnumerable<HabitAqui.Models.Arrendamento>
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid p-3" style="background-color:#D8D8D8">
    <form asp-area="" asp-controller="Arrendamentos" asp-action="Filter" method="post">
        <div class="row g-3 mt-2">
            <div class="col-2">
                <select name="categoria" class="form-select">
                    <option value="">Selecione uma Categoria</option>
                    @foreach (var categoria in ViewBag.Categorias)
                    {
                        <option value="@categoria.Nome">@categoria.Nome</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select name="cliente" class="form-select">
                    <option value="">Selecione um Cliente</option>
                    @foreach (var cliente in ViewBag.Clientes)
                    {
                        <option value="@cliente.Nome">@cliente.Nome</option>
                    }
                </select>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-dark btn-block">
                    Procurar
                </button>
            </div>
        </div>
        <div class="row g-3 mt-2">
            <div class="col-2">
                <input class="form-control" type="date" name="start_date" placeholder="Data de Início">
            </div>
            <div class="col-2">
                <input class="form-control" type="date" name="end_date" placeholder="Data de Fim">
            </div>
            <div class="col-2">
                <select name="order" class="form-select">
                    <option selected value="">Ordenar Por</option>
                    <option value="PrecoCrescente">Preço (asc)</option>
                    <option value="PrecoDecrescente">Preço (desc)</option>
                    <option value="AvaliacaoCrescente">Avaliação (asc)</option>
                    <option value="AvaliacaoDecrescente">Avaliação (desc)</option>
                </select>
            </div>
            <div class="col-2">
                <select name="estado" class="form-select">
                    <option value="">Selecione um Estado</option>
                    <option value="Ativo">Confirmado</option>
                    <option value="Inativo">Por Confirmar</option>
                </select>
            </div>
        </div>

    </form>
</div>

<div class="row m-auto mt-2">
    @foreach (var item in Model)
    {
        <div class="col-md-3">

            @if (item.Ativo)
            {
                <div class="card text-white bg-success mb-3 border-dark" style="max-width: 18rem;">

                    <div class="card-header">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Habitacao.Categoria.Nome) -
                            @Html.DisplayFor(modelItem => item.Custo)€
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-dark">Data Inicio: @Html.DisplayFor(modelItem => item.DataInicio)</li>
                        <li class="list-group-item border-dark">Data Fim: @Html.DisplayFor(modelItem => item.DataFim)</li>
                        <li class="list-group-item border-dark">Funcionário: @Html.DisplayFor(modelItem => item.FuncionarioEntrega.Nome)</li>
                    </ul>
                    <div class="card-body">
                        <p class="text-center">
                            <i class="fa-solid fa-circle-user"></i> Cliente: @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </p>
                        <p class="text-center">
                            <a asp-action="Edit" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="card-link text-white">Editar</a>
                            <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="card-link text-white">Detalhes</a>
                        </p>
                        
                    </div>
                </div>
            }
            else
            {
                <div class="card border-dark mb-3" style="max-width: 18rem;">

                    <div class="card-header border-dark">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Habitacao.Categoria.Nome) - @Html.DisplayFor(modelItem => item.Custo)€
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Data Inicio: @Html.DisplayFor(modelItem => item.DataInicio)</li>
                        <li class="list-group-item">Data Fim: @Html.DisplayFor(modelItem => item.DataFim)</li>
                        <li class="list-group-item">Funcionário: @Html.DisplayFor(modelItem => item.FuncionarioEntrega.Nome)</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text-center">
                            <i class="fa-solid fa-circle-user"></i> Cliente: @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </p>
                        <a asp-action="Edit" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="card-link">Editar</a>
                        <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="card-link">Detalhes</a>
                    </div>
                    @if (!item.Ativo)
                    {
                        <div class="card-footer border-dark">

                            @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
                            {
                                <p class="card-text-center">
                                    <a asp-action="Confirm" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-success">Confirmar</a>
                                    <a asp-action="Delete" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-danger">Rejeitar</a>
                                </p>
                            }
                        </div>
                    }
                </div>
            }
        </div>
      }
</div>
