@model IEnumerable<HabitAqui.Models.Arrendamento>
@{
    ViewData["Title"] = "Index";
}

@if(User.IsInRole("Gestor") || User.IsInRole("Funcionario"))
{
    <div class="container-fluid p-3" style="background-color:#D8D8D8">
        <form asp-area="" asp-controller="Arrendamentos" asp-action="Filter" method="post">
            <div class="row g-3 mt-2">
                <div class="col-2">
                    <select name="categoria" class="form-select">
                        <option value="">Selecione uma Categoria</option>
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                            <option value="@categoria.Nome">@categoria.Nome</option>
                        }
                    </select>
                </div>
                <div class="col-2">
                    <select name="cliente" class="form-select">
                        <option value="">Selecione um Cliente</option>
                        @foreach (var cliente in ViewBag.Clientes)
                        {
                            <option value="@cliente.Nome">@cliente.Nome</option>
                        }
                    </select>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-dark btn-block">
                        Procurar
                    </button>
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col-2">
                    <label>Data de Inicio</label>
                    <input class="form-control" type="date" name="start_date">
                </div>
                <div class="col-2">
                    <label>Data de Fim</label>
                    <input class="form-control" type="date" name="end_date">
                </div>
                <div class="col-2">
                    <label></label>
                    <select name="order" class="form-select">
                        <option selected value="">Ordenar Por</option>
                        <option value="PrecoCrescente">Preço (asc)</option>
                        <option value="PrecoDecrescente">Preço (desc)</option>
                        <option value="AvaliacaoCrescente">Avaliação (asc)</option>
                        <option value="AvaliacaoDecrescente">Avaliação (desc)</option>
                    </select>
                </div>
                <div class="col-2">
                    <label></label>
                    <select name="estado" class="form-select">
                        <option value="">Selecione um Estado</option>
                        <option value="CONFIRMADO">Confirmado</option>
                        <option value="NAO_CONFIRMADO">Por confirmar</option>
                        <option value="RECEBIDO">Terminado</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
}

<div class="row m-auto mt-2">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
            {
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">
                            <div class="float-end">
                                <a asp-action="Delete" asp-controller="Arrendamentos" asp-route-id="@item.Id">
                                    <i class="fas fa-times text-danger"></i>
                                </a>
                            </div>
                            @Html.DisplayFor(modelItem => item.Habitacao.Categoria.Nome) -
                            @Html.DisplayFor(modelItem => item.Custo)€
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-dark">
                                <i class="far fa-calendar-alt"></i> @Html.DisplayFor(modelItem => item.DataInicio) - <i class="far fa-calendar-alt"></i> @Html.DisplayFor(modelItem => item.DataFim)
                            </li>
                            <li class="list-group-item border-dark"><i class="fas fa-user"></i> @Html.DisplayFor(modelItem => item.Cliente.Nome)</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        @if (Estados.CONFIRMADO == item.Estado)
                        {
                            <p class="text-center">
                                <a asp-action="Entregar" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-success">Entregar</a>
                                <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-dark">Detalhes</a>
                            </p>
                        }
                        else if (Estados.NAO_CONFIRMADO == item.Estado)
                        {
                            <p class="text-center">
                                <a asp-action="Confirmar" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-success">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a asp-action="Cancelar" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-danger">
                                    <i class="fas fa-times"></i>
                                </a>
                                <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-dark">Detalhes</a>
                            </p>
                        }
                        else if (Estados.REJEITADO == item.Estado)
                        {
                            <p class="text-center">
                                <a asp-action="Delete" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-dark">Detalhes</a>
                            </p>
                        }
                        else if (Estados.ENTREGUE == item.Estado)
                        {
                            <p class="text-center">
                                <a asp-action="Receber" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-secondary">Receber</a>
                                <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-dark">Detalhes</a>
                            </p>
                        }
                        else if (Estados.RECEBIDO == item.Estado)
                        {
                            <p class ="text-center">Contrato terminado</p>
                            <p class="text-center">
                                <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-dark">Detalhes</a>
                            </p>
                        }
                    </div>
                </div>
            }else if (User.IsInRole("Cliente") && item.Estado == Estados.RECEBIDO || item.Estado == Estados.ENTREGUE)
            {
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Habitacao.Categoria.Nome) -
                            @Html.DisplayFor(modelItem => item.Custo)€
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-dark">
                                <i class="far fa-calendar-alt"></i> @Html.DisplayFor(modelItem => item.DataInicio) - <i class="far fa-calendar-alt"></i> @Html.DisplayFor(modelItem => item.DataFim)
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p class="text-center">
                            @if(item.Estado == Estados.RECEBIDO)
                            {
                                <a asp-action="Avaliar" asp-controller="Habitacoes" asp-route-id="@item.HabitacaoId" class="btn btn-success">Avaliar</a>
                            }
                            <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-dark">Detalhes</a>
                        </p>
                    </div>
                </div>
            }
        </div>
      }
</div>

