@model IEnumerable<HabitAqui.Models.Arrendamento>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid p-3" style="background-color:#D8D8D8">
    <form asp-area="" asp-controller="Arrendamentos" asp-action="Filter" method="post">
        <div class="row g-3 mt-2">
            <div class="col-2">
                <select name="categoria" class="form-select">
                    <option value="">Selecione uma Categoria</option>
                   
                </select>
            </div>
            <div class="col-2">
                <select name="cliente" class="form-select">
                    <option value="">Selecione um Cliente</option>
                </select>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-dark btn-block">
                    Procurar
                </button>
            </div>
        </div>
        <div class="row g-3 mt-2">
            <div class="col-2">
                <input class="form-control" type="date" name="start_date" placeholder="Data de Início">
            </div>
            <div class="col-2">
                <input class="form-control" type="date" name="end_date" placeholder="Data de Fim">
            </div>
            <div class="col-2">
                <select name="order" class="form-select">
                    <option selected value="">Ordenar Por</option>
                    <option value="PrecoCrescente">Preço (asc)</option>
                    <option value="PrecoDecrescente">Preço (desc)</option>
                    <option value="AvaliacaoCrescente">Avaliação (asc)</option>
                    <option value="AvaliacaoDecrescente">Avaliação (desc)</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="row m-auto mt-2">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card border-dark mb-3 text-center" style="width:18rem;">
                <div class="card-header border-dark">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Habitacao.Categoria.Nome)
                    </h5>
                </div>
                <div class="card-body text-dark">
                    <p class="card-text-center">Data Inicio:@Html.DisplayFor(modelItem => item.DataInicio)</p>
                    <p class="card-text-center">Data Fim:@Html.DisplayFor(modelItem => item.DataFim)</p>
                    <p class="card-text-center">Funcionario Entrega:@Html.DisplayFor(modelItem => item.FuncionarioEntrega.Nome)</p>
                </div>
                <div class="card-footer border-dark">
                    <p class="card-text-center">
                        <i class="fa-solid fa-circle-user"></i> @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </p>
                    @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
                    {
                        <p class="card-text-center">
                            <a asp-action="Edit" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a>
                            <a asp-action="Delete" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a>
                            <a asp-action="Details" asp-controller="Arrendamentos" asp-route-id="@item.Id" class="btn btn-secondary">Detalhes</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>
