@model IEnumerable<HabitAqui.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@item.Nome</h5>
                    <p class="card-text">ID: @item.CategoriaId</p>
                    <div class="d-flex justify-content-between mt-3">
                        <a asp-action="Delete" asp-controller="Categorias" asp-route-id="@item.CategoriaId" class="btn btn-danger">Apagar</a>
                        @if (item.Ativo)
                        {
                            <a asp-action="Desativar" asp-controller="Categorias" asp-route-id="@item.CategoriaId" class="btn btn-dark">Desativar</a>
                        }
                        else
                        {
                            <a asp-action="Ativar" asp-controller="Categorias" asp-route-id="@item.CategoriaId" class="btn btn-success">Ativar</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
</div>