@model IEnumerable<HabitAqui.Models.Arrendamento>

@{
    ViewData["Title"] = "ListArrendamentos";
}

<h1>Os meus Arrendamentos</h1>
<hr />
<div class="row m-auto">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card border-dark mb-3 text-center" style="width:18rem;">
                <div class="card-header border-dark">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Habitacao.Categoria.Nome)
                    </h5>
                </div>
                <div class="card-body text-dark">
                    <h4 class="card-text-center">@Html.DisplayFor(modelItem => item.Habitacao.Custo) €</h4>
                    <p class="card-text-center">@Html.DisplayFor(modelItem => item.Habitacao.Cidade)</p>
                </div>
                <div class="card-footer border-dark">
                    <p class="card-text-center">
                        <i class="fa-solid fa-circle-user"></i> @Html.DisplayFor(modelItem => item.Habitacao.Locador.Nome)
                        @Html.DisplayFor(modelItem => item.Habitacao.Locador.MediaAvaliacao)<i class="fa-solid fa-star"></i>
                    </p>
                    <p class="card-text-center">
                        <a href="@Url.Action("Details", "Habitacoes", new { id = item.Id })" class="btn btn-secondary">Detalhes</a>
                    </p>
                    <p class="card-text-center">
                        <a href="@Url.Action("Avaliar", "Habitacoes", new { id = item.Id })" class="btn btn-secondary">Avaliar</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<script>
    const select = document.querySelector('select[name="orderby"]');
    const form = document.querySelector('form[name="form"]');

    select.addEventListener('change', () => {
        form.submit();
    });
</script>